:root {
  --text-p: #0f172a;
  --text-s: #475569;
  --text-m: #94a3b8;

  --bg:     #f8fafc;
  --card:   #ffffff;
  --border: #e2e8f0;

  --accent:    #2563eb;
  --accent-hv:   #1d4ed8;
  --accent-tint: #eff6ff;
  --accent-border:    #2564eb80;

  /* backgrounds */
  --Success: #22c55e;
  --Error:   #ef4444;
  --Warning: #f59e0b;
  --Info:    #06b6d4;

  --shadow-sm:   0 1px 3px rgba(0,0,0,0.06);
  --shadow-md:   0 4px 16px rgba(0,0,0,0.08);
  --shadow-lg:   0 8px 32px rgba(0,0,0,0.10);

    /* border */
    --card-br:  12px;
    --btn-br:   8px;
    --input-br: 8px;

  --font-fractul: 'Fractul', sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;


  font:                    1.125rem/145% var(--sans);
  letter-spacing:          0.18px;
  color-scheme:            light dark;
  color:                   var(--text-p);
  background:              var(--bg);
  font-synthesis:          none;
  text-rendering:          optimizeLegibility;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

/* dark theme */
[data-theme='dark'] {
  --text-p: #f1f5f9;
  --text-s: #94a3b8;
  --text-m: #475569;

  --bg:     #0f1117;
  --card:   #151a23;
  --border: #1e2433;
  
  --accent:      #2563eb;
  --accent-hv:   #1d4ed8;
  --accent-tint: #1e3a5f;
  --accent-border: rgba(170, 59, 255, 0.5);
  
  /* backgrounds */
  --Success: #22c55e;
  --Error:   #ef4444;
  --Warning: #f59e0b;
  --Info:    #06b6d4;

  /* shadows */
  --shadow-sm:   0 1px 3px rgba(0,0,0,0.3);
  --shadow-md:   0 4px 16px rgba(0,0,0,0.35);
  --shadow-lg:   0 8px 32px rgba(0,0,0,0.40);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-fractul);
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  font-family: var(--font-body);
}
input,
textarea,
select {
  font-family: var(--font-body);
}

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* ── Fractul ── */
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-HairlineItalic.ttf')
    format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-SemiBoldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-ExtraBoldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Fractul';
  src: url('/assets/fonts/fractul/Fractul-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
